.nav-bar, .nav-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar{
    margin-right: 2em;
}

.nav-list{
    list-style: none;
}


.nav-item, .nav-cart{
    margin-left: 2em;
}

.nav-cart{
    font-size: 12px;
}
